@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;400;700&family=Shadows+Into+Light&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background: whitesmoke;
}
table {
  border: solid 3px black;
  border-collapse: collapse;
  width: 900px;
  margin: auto;
  margin-top: 50px;
  font-family: Karla;
  font-weight: 400;
  font-size: 30px;
  text-indent: 5px;
}
td {
  border: solid 2px black;
  padding: 2px;
}
td:nth-last-child(2) {
  font-weight: 700;
}
.baltxt {
  color: white;
}
